
#folders-list {
    width: 250px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid black;
    margin-top: 20px;
}

#folders-list ul {
    list-style: none;
    padding-left: 25px;
}

.folder-item > div {
    display: inline;
    line-height: 24px;
    vertical-align: top;
}

.folder-item > div > span {
    vertical-align: top;
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    display: inline-block;
}

.folder-item > div > span:hover {
    overflow: visible;
}

.folder-item > div > input {
    width: 150px;
}

.folder-item.selected > div {
    font-weight: bold;
    border: 1px dotted #000;
}

.folder-item > i {
    cursor: pointer;
}

.folder-item.selected > a > i {
    color: #000;
}